<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome to the Flask Demo!</h1>
    <p>This is a simple Flask application to demonstrate how to render HTML templates.</p>
    
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #080808;
        text-align: center;
        padding: 50px;
    }
    h1 {
        color: #cecbcb;
    }
    p {
        color: #8e968a;
    }

</style>
</html>